@media(min-width: 768px) {
    .grid-container {
      max-width: 100%;
      margin: 0 auto;
      grid-template-columns: 55px 1fr; 
      grid-template-areas:
      "header header"
      "navigation main";
    }

    .main-header{
      grid-template-columns: 50%;
    }

    .traffic,
    .social,
    #alert {
      grid-column: 1 / span 2;
    }

    /* header */
    header{
      padding-left: 10px;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h1{
      font-weight: bolder;
    }

    h1 span{
      font-weight: lighter;
    }

    #memberLoginName{
      margin: 0 3% 0 1%;
    }
 
    #memberLogin{
      margin-left: 1%;
      height: 50px;
    }
    .line {
      margin: auto 0.8em;
      padding: 20px 0;
      border-right: 2px solid #5d61bf;
      height: 10px;
      opacity: 0.7;
    }

    #bell{
      margin: 0 1% 0 64%;
    }

    /* OpeningSearch */

  .openingSearch{
    grid-column: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-top: 0px;
  }

  .headline {
    margin-right: auto;
  }
  .main-header-search{
    display: flex;
    align-items: center;
    align-items: center;
    padding-left:30%;
    padding-top: 40px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: lightgray;
  }

  .search{
    margin-bottom: 30px;
    width:400px;
  }

    /*alert */
    #alert{
      padding-left: 10px;
    }

    /* nav bar */
    nav {
      flex-direction: column;
      justify-content: flex-start;
    }

    /* social Media */
    .social{
      margin-top: 10px;
    }

    /* new members and recent activity */
    .daily,
    .members,
    .message{
      grid-column: 1 / span 1;
    }
    
    .mobile, 
    .activity, 
    .settings {
      grid-column:2/ span 1;
    }

    .daily,
    .mobile,
    .members,
    .activity,
    .message,
    .settings{
      padding-left: 10px;
      border: lightgray solid 0.5px;
    }

    hr{
      margin-top: 10px;
      width: 95%;
      border: lightgray solid 0.5px;
    }
    
    .widget-container-full {
      width: 90vw;
     }
    
     .widget-container-half,
     .widget-container {
       width:45vw;
     }    
     
     ul{
      text-align: end;
    }
  
   .chartjs-render-monitor{
      padding-bottom: 5px;
    }

    .members-container,
    .activity-container{
      height:70px;
      padding-top: 20px;
    }

    .profile-image{
      height: 50px;
      border-radius: 50%;
    }

    .members-text,
    .activity-text{
      position: relative;
      top: -65px;
      left: 60px;
      line-height: 10px;
    }

    a{
      text-decoration: none;
    }

    #date{
      position: relative;
      top: -115px;
      left: 475px;
    }

    .arrow{
      position: relative;
      top: -135px;
      left: 525px;
      color:#7377bf;
      font-weight: bold;
      font-size: 2em;
    }

    /* message user */

    .form-field,
    #send{
      width: 95%;
      margin-bottom: 10px;
      border-radius: 5px;
      border: lightgray;
      border-style: solid;
      border-width: 0.5px;
    }

    #send,
    #save{
      height: 2em;
      background-color:#7377bf;
      color: white;
      text-transform: uppercase;
    }
    
    .form-area{
      height: 150px;
      width: 95%;
      margin-bottom: 10px;
      border-radius: 5px;
      border: lightgray;
      border-style: solid;
      border-width: 0.5px;
    }

    /* Settings */

   .settings p, 
   .onoffswitch{
     display: inline-block;
   }
   .onoffswitch{
     float: right;
     margin-right: 200px;
   }
   
   .toggle{
     margin-bottom: 20px;
   }
  

    #timezone{
      margin-top: 32px;
    }

    #save,
    #cancel{
      margin-bottom: 10px;
      width: 45%;
      border-radius: 5px;
      border: lightgray solid 0.5px;
      margin-top:0;
    }

    #cancel{
      height: 2em;
      background-color:grey;
      color: white;
      text-transform: uppercase;
      margin-left: 20px;
    }

  }