.grid-container {
    margin-left: 10px;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden; 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

/* headings */
h1, h2, h3{
  Padding-left: 10px;
}

 /* main header */
header {
    display: flex;
    background-color: #7477bf;
    color: white;
    justify-content: flex-end;
    align-items: center;
  }
  
  h1{
    font-weight: bolder;
    padding-left: 10px;
  }

  h1 span{
    font-weight: lighter;
  }
  
  #memberLogin{
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
  }

  #memberLoginName{
    display: none;
  }

  .line {
    margin:  0.8em;
    padding: 20px 0;
    border-right: 2px solid #5d61bf;
    height: 10px;
    opacity: 0.7;
  }

  #bell,
  .main-header-search{
    margin-left: auto;
  }

  #bell {
    height: 30px;
  }

  /* navigation bar */
  nav {
    display: flex;
    grid-area: navigation;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #4d4b72;
  }

  .navImages {
    padding: 1em;
    margin: 0.5em;
  }

  /* OpeningSearch */
   #search{
    display: flex;
    align-items: center;
    margin-right: 10px;
   }

   /* alert */
  #alert{ 
    background-color: #7377bf;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
  }

  .alert-banner {
    display: flex;  
    justify-content: space-between;
  }

  .alert-banner-close{
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    padding-right: 1em;
    margin-bottom: auto;
    margin-top: auto;
    text-align: end;
  }

  /* charts */
.widget-container-full{
    width: 90vw;
    margin: 0 auto;
    }

  ul{
    text-align: end;
    padding-right: 10px;
  }

  li{
    list-style: none;
    display: inline-block;
    padding-left: 10px; 
    padding: 5px;
    border-radius: 20px;

  }
  li:hover {
    background-color: #78CF82;
    color: white;
  }

  .daily{
    margin: 0 10px;
  }

/* Socials, new Members and activities*/
  #social-heading{
    margin-bottom: 10px;
  }

  .social{
    display: block;
  }

  svg{
    overflow: visible;
    fill: white; 
    background-color: #7377bf; 
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    float: left;
  }

  .twitter,
  .facebook,
  .google,
  .members-container,
  .activity-container,
  .form-field,
  .form-area{
    border: lightgray;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

 .social-title {
   color: #7377bf;
   font-size: 2em;
   margin: 0;
  }

  .social-stat{
    font-size: 2.5em;
    margin: 0;
  }

  hr{
    display: none;
  }

  /* new Members and activities */
  .members-container,
  .activity-container{
    display: flex;
    text-align: left;
  }

  .profile-image{
    height: 85px;
    border-radius: 50%;
  }

  .members-text p,
  a,
  .activity-text p {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-left: 10px; 
    margin-top: 0;   
  }

  a {
    text-decoration: none;
  }

  .date,
  .time{
    color: black;
    padding-top: 30px;
  }

  .arrow{
    color:#7377bf;
      font-weight: bold;
      font-size: 2em;
      margin-top: auto;
      margin-left:auto;
  }

  /* message user */
  .form-field,
  .form-area{
    text-align: left;
    width: 90%;
  }

  .form-area{
    height: 150px;
  }

  #send,
  #save{
    height: 2em;
    width: 95%;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color:#7377bf;
    color: white;
    text-transform: uppercase;
  }
    
  /* Settings */
  .toggle {
    margin-left:10px;
  }

  .toggle p {
    display: inline-block;
    margin-bottom: 40px;
  }

  .onoffswitch{
    margin-top: 10px;
    float: right;
  }

  #timezone{
    margin-top: 20px;
  }

  #save,
  #cancel{
    margin-bottom: 40px;
    width: 45%;
    border-radius: 5px;
    border: lightgray solid 0.5px;
    margin-top:20px;
  }

  #cancel{
    height: 2em;
    background-color:grey;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
  }

  button:focus {
    outline: none;
  }

@media(min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr; 
    grid-template-areas:
    "header header"
    "navigation main";
  }

  .main{
    display: grid;
    grid-template-columns: 50%;
    overflow: hidden
  }

    /* main header */
    header{
      grid-area: header;
    }

    #memberLogin{
      margin-left: 1%;
    }

    #memberLoginName{
      display: inline-block;
      margin-right: 1em;
        color: white;
    }
    
    .line {
      margin: auto 0.8em;
      padding: 1em 0;
      border-right: 2px solid #5d61bf;
      height: 10px;
      opacity: 0.7;
    }

    /* nav bar */
    nav {
      flex-direction: column;
      justify-content: flex-start;
      
    }

    /* OpeningSearch */
  #search {
    justify-content: flex-end;
    grid-column: 1 / span 2;
  }

  .search{
    margin-bottom: 30px;
    width: 300px;
    height: 2em;
  }

  .search:focus{
    outline: none;
  }

  .main-header-search{
    padding-left:20%;
    padding-top: 40px;
    margin-right:0;
    margin-bottom: 10px;
  }

  /*alert */
  #alert{
    padding-left: 10px;
  }

  /* charts */
   .widget-container-half {
  width: 45vw;
  }

  .daily {
    border: 0.5px solid lightgrey;
    grid-column: 1 / span 1;
  }

  .mobile {
    border: 0.5px solid lightgrey;
    grid-column: 2 / span 1;
    margin-right: 10px;

  }

  /* social Media */
  #social-heading{
    margin-top: 20px;
  }

  .social{
    display: flex;
    justify-content: space-evenly;
  }

  .twitter{
    flex-grow: 2;
  }

  .facebook{
    flex-grow: 2;
  }

  .google{
    flex-grow: 2;
  }

  .social-title,
  .social-stat{
    text-align: left;
    padding-left: 100px;
  }
  
    /* new members */
  .members-container,
  .activity-container{
    border: none;
  }

  .members,
  .message{
    grid-column: 1 / span 1;
  }

  .activity,
  .settings{
    grid-column: 2 / span 1;
  }

    .members,
    .activity{
      border: lightgray;
      border-style: solid;
      border-width: 0.5px;
      padding: 10px;
      margin: o auto;
    }

    .members-text,
    .activity-text{
      font-size: 1em;
    }

    hr{
      display: inline-block;
      margin-top: 10px;
      width: 95%;
      border: lightgray solid 0.5px;
    }

    /* message user */
    .message,
    .settings{
      border: lightgray solid 0.5px;
    }

    .form-field,
    #send{
      width: 90%;
      margin-bottom: 10px;
      border-radius: 5px;
      border: lightgray;
      border-style: solid;
      border-width: 0.5px;
    }

    #send,
    #save{
      height: 2em;
      background-color:#7377bf;
      color: white;
      text-transform: uppercase;
    }
    
    .form-area{
      height: 150px;
      width: 90%;
      margin-bottom: 10px;
      border-radius: 5px;
      border: lightgray;
      border-style: solid;
      border-width: 0.5px;
    }

    /* Settings */
   .settings p, 
   .onoffswitch{
     display: inline-block;
   }
   .onoffswitch{
     float: right;
     margin-right: 200px;
   }
   
   .toggle{
     margin-bottom: 20px;
   }
  
    #save,
    #cancel{
      margin-bottom: 50px;
      width: 45%;
      border-radius: 5px;
      border: lightgray solid 0.5px;
      margin-top:0;
    }

    #cancel{
      height: 2em;
      background-color:grey;
      color: white;
      text-transform: uppercase;
      margin-left: 20px;
    }

    .traffic,
    .social,
    #alert {
      grid-column: 1 / span 2;
    }

  }